Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Bump v2.1.0
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

State channel performance (#392)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/payg.rs
Due: prettier --write

update coordinator version 2.0.7-2
  apps/indexer-coordinator/package.json
Due: none

[release] Bump coordinator v2.0.7
  apps/indexer-coordinator/package.json
Due: none

disable auto escape by handlebar
  apps/indexer-coordinator/src/utils/docker.ts
Due: eslint --cache --fix, prettier --write

fix: infinity loading when chain is not support network
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/hooks/indexerHook.ts
Due: eslint --cache --fix, prettier --write

fix: very long name
  apps/indexer-admin/src/components/accountCard.tsx
  apps/indexer-admin/src/pages/network/networkPage.tsx
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

add new argv update L1 and L2 calculation
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

apply tx postpone
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
  apps/indexer-coordinator/src/utils/redis.ts
Due: eslint --cache --fix, prettier --write

init bypass on chain tx
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/utils/ethProvider.ts
  apps/indexer-coordinator/src/utils/redis.ts
  apps/indexer-coordinator/src/yargs.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

Update contract version to latest
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

add whitelist api and handler
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Impl signature verification
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/whitelist.rs
Due: none

Add `whitelist` struct
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/whitelist.rs
Due: none

Update `error_code` for whitelist auth
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/whitelist.rs
Due: prettier --write

Add `loop` check for whitelist
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/whitelist.rs
Due: none

Remove poi from subquery metadata
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Update signed message
  apps/indexer-proxy/proxy/src/auth.rs
Due: none

feat: polyfill
  apps/indexer-admin/package.json
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/polyfill/navigatorClip.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-admin/yarn.lock
  apps/indexer-coordinator/package.json
Due: none

feat: refactor
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.tsx
  apps/indexer-admin/src/containers/account.tsx
  apps/indexer-admin/src/containers/coordinatorIndexer.tsx
  apps/indexer-admin/src/hooks/indexerHook.ts
  apps/indexer-admin/src/hooks/network.ts
  apps/indexer-admin/src/hooks/paygHook.ts
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/hooks/registerHook.ts
  apps/indexer-admin/src/hooks/routerHook.ts
  apps/indexer-admin/src/hooks/useHasController.ts
  apps/indexer-admin/src/pages/account/account.tsx
  apps/indexer-admin/src/pages/controllers/controllersPage.tsx
  apps/indexer-admin/src/pages/header/header.tsx
  apps/indexer-admin/src/pages/index.tsx
  apps/indexer-admin/src/pages/login/loginPage.tsx
  apps/indexer-admin/src/pages/login/styles.tsx
  apps/indexer-admin/src/pages/network/networkPage.tsx
  apps/indexer-admin/src/pages/project-details/components/projectServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/components/projectUptime.tsx
  apps/indexer-admin/src/pages/project-details/payg/paygConfig.tsx
  apps/indexer-admin/src/pages/project-details/payg/paygPlans.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/pages/register/registerPage.tsx
  apps/indexer-admin/src/pages/register/styles.tsx
Due: eslint --cache --fix, prettier --write

feat: change flow
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.tsx
  apps/indexer-admin/src/conf/rainbowConf.tsx
  apps/indexer-admin/src/containers/coordinatorIndexer.tsx
  apps/indexer-admin/src/hooks/indexerHook.ts
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/hooks/useHasController.ts
  apps/indexer-admin/src/pages/account/account.tsx
  apps/indexer-admin/src/pages/controllers/controllerItem.tsx
  apps/indexer-admin/src/pages/controllers/controllersPage.tsx
  apps/indexer-admin/src/pages/controllers/prompts.ts
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/pages/register/prompts.ts
Due: eslint --cache --fix, prettier --write

update sdk version
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

feat: update change network
  apps/indexer-admin/public/static/switch-network.png
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.module.css
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.tsx
Due: eslint --cache --fix, prettier --write

fix: connect
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/hooks/indexerHook.ts
  apps/indexer-admin/src/hooks/useHasController.ts
Due: eslint --cache --fix, prettier --write

feat: add error toast
  apps/indexer-admin/src/hooks/indexerHook.ts
Due: eslint --cache --fix, prettier --write

refactor gas limit implementation
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
  apps/indexer-coordinator/src/core/types.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

conditional type
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
  apps/indexer-coordinator/src/core/types.ts
Due: eslint --cache --fix, prettier --write

start/stop project on chain
  apps/indexer-coordinator/src/core/onchain.service.ts
Due: eslint --cache --fix, prettier --write

Add unit compute to multiple query
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

api to start/stop project on chain
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

throw error for responding to frontend
  apps/indexer-coordinator/src/core/onchain.service.ts
Due: eslint --cache --fix, prettier --write

fix: loading
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.tsx
Due: eslint --cache --fix, prettier --write

update coordinator v2.0.8-2
  apps/indexer-coordinator/package.json
Due: none

update coordinator v2.0.8-3
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/project/project.resolver.ts
Due: eslint --cache --fix, prettier --write

feat: use controller announce ready or not
  apps/indexer-admin/src/hooks/transactionHook.ts
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/prompts.ts
  apps/indexer-admin/src/utils/error.ts
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

feat: upgrade
  apps/indexer-admin/package.json
  apps/indexer-admin/yarn.lock
Due: none

chore: temp revert
  apps/indexer-admin/src/hooks/transactionHook.ts
Due: eslint --cache --fix, prettier --write

chore: version
  apps/indexer-coordinator/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
