Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

feat: add log
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write

fix: fix failed retry
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write

fix: fix last collect time
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write

style: remove extra logs
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write

metadata no-cache
  apps/indexer-proxy/proxy/src/metadata/ai.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subgraph.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
Due: none

build: bump to v2.8.4
  apps/indexer-coordinator/package.json
Due: none

metadata no-cache (#598)
  apps/indexer-proxy/proxy/src/metadata/ai.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subgraph.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
Due: none

indexer-proxy 2.8.2
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

indexer-proxy 2.8.2 (#599)
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

update docker/setup-qemu-action to v3 version
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

update docker/setup-qemu-action to v3 version (#600)
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

update docker/setup-buildx-action to v3
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

update docker/setup-buildx-action to v3 (#601)
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

update actions/checkout to v4
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

update actions/checkout to v4 (#602)
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

install libc-bin in dockerfile
  apps/indexer-proxy/proxy/Dockerfile
Due: none

install libc-bin in dockerfile (#603)
  apps/indexer-proxy/proxy/Dockerfile
Due: none

feat: release new version
  deploy/docker-compose.yml
Due: none

Update API.md
  apps/indexer-proxy/doc/API.md
Due: prettier --write

Update error-code-dictionary.md
  apps/indexer-proxy/doc/error-code-dictionary.md
Due: prettier --write

add libp2p
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/behavior.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/mod.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/constants.rs
Due: none

monitor metrics connection
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

fix metrics peer_id
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

fix error address
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

add no-cache header to metadata handler
  apps/indexer-proxy/proxy/src/metadata/ai.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subgraph.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

add no-cache header to metadata handler (#608)
  apps/indexer-proxy/proxy/src/metadata/ai.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subgraph.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

remove Cache-control, solana chainid changes to be zero
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
Due: none

log filename and line number
  apps/indexer-proxy/proxy/src/main.rs
Due: none

add solana metadata
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

add solana ptype
  apps/indexer-proxy/proxy/src/project.rs
Due: none

indexer-proxy 2.8.3-beta.1
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

feat: integrate solana rpc
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/project/project.rpc.service.ts
  apps/indexer-coordinator/src/project/rpc.factory.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

indexer-proxy 2.9.0
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

add solana metadata (#607)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

feat: recover metrics
  apps/indexer-coordinator/src/project/rpc.factory.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

build: bump to v2.9.0
  apps/indexer-coordinator/package.json
Due: none

feat: update docker-compose
  deploy/docker-compose.yml
Due: none

Support metrics for Polygon Bor (Geth fork)
  apps/indexer-coordinator/src/utils/metrics.ts
Due: eslint --cache --fix, prettier --write

fix: solana ws check
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write
