Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

update contract-sdk and network-clients
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

[dev] v2.0.0-4
  apps/indexer-coordinator/package.json
Due: none

fix docker image name for subql-substrate
  apps/indexer-coordinator/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

[dev] v2.0.0-5
  apps/indexer-coordinator/package.json
Due: none

Update the docker image name from chain type
  apps/indexer-coordinator/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

Fix query endpoint as index 0
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Bump beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Fix metadata subquery healthy
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
Due: none

Add debug limit
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/subscriber.rs
Due: none

Update limit rate
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: prettier --write

Support rate limit option
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Add timeout to request
  apps/indexer-proxy/utils/src/request.rs
Due: none

Bump new version
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

Improve error info when timeout
  apps/indexer-proxy/utils/src/request.rs
Due: none

update ProjectConfig
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

feat: support new
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

feat: support
  apps/indexer-admin/src/components/introductionView.tsx
  apps/indexer-admin/src/components/popupView.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/projects/components/projectsEmptyView.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

update projectConfig default value
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Add timeout to proxy request (#280)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/request.rs
Due: none

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

Support project rate (#279)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/subscriber.rs
Due: prettier --write

cron job for validating rpc endpoints
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.rpc.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Support substrate metadata
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/utils/src/request.rs
Due: none

update CI process
  .github/workflows/coordinator-docker-dev.yml
  .github/workflows/coordinator-docker-prod.yml
  .github/workflows/pr.yml
  .github/workflows/prerelease.yml
  Dockerfile
Due: none

update service metadata
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.rpc.service.ts
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

test CI with v2.0.0-6
  apps/indexer-coordinator/package.json
Due: none

rpc endpoint vaidation ignoring case
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

compare version with range
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

[dev] v2.0.0-7
  apps/indexer-coordinator/package.json
Due: none

update log error to log debug
  apps/indexer-coordinator/src/project/project.rpc.service.ts
Due: eslint --cache --fix, prettier --write

http as default endpoint
  apps/indexer-proxy/proxy/src/project.rs
Due: none

bump beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Update metadata's poi height
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
Due: none

support rpc metadata
  apps/indexer-coordinator/src/project/project.rpc.service.ts
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

Support substrate rpc (#285)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/utils/src/request.rs
Due: none

Refactor owner metrics
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

support bytes32ToCid metadata
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write
