Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

feat: tiny adjust
  apps/indexer-admin/src/pages/project-details/components/projectDetailsView.tsx
  apps/indexer-admin/src/pages/project-details/components/projectTabBarView.tsx
Due: eslint --cache --fix, prettier --write

add timeout for ipfs requests
  apps/indexer-coordinator/src/project/project.manifest.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/rpc.factory.ts
  apps/indexer-coordinator/src/utils/project.ts
  apps/indexer-coordinator/src/utils/promise.ts
Due: eslint --cache --fix, prettier --write

add projectDescription
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

feat: project desc
  apps/indexer-admin/src/components/introductionView.tsx
  apps/indexer-admin/src/pages/project-details/components/projectServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/components/projectsEmptyView.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

optional checking genesisHash
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

feat: wrap anywhere
  apps/indexer-admin/src/index.css
Due: prettier --write

feat: leaderbodard
  apps/indexer-admin/src/components/uptimeBar.tsx
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/pages/project-details/components/projectUptime.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

feat: add more loading for UI stable
  apps/indexer-admin/src/hooks/indexerHook.ts
  apps/indexer-admin/src/pages/account/account.tsx
  apps/indexer-admin/src/pages/account/config.ts
  apps/indexer-admin/src/pages/project-details/components/projectUptime.tsx
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/styles/input.tsx
Due: eslint --cache --fix, prettier --write

fix query endpoint in project resolver
  apps/indexer-coordinator/src/project/project.resolver.ts
Due: eslint --cache --fix, prettier --write

Fix service endpoint URLs in monitor and project files
  apps/indexer-coordinator/src/monitor/monitor.service.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

feat: duplicate name
  apps/indexer-admin/src/pages/project-details/components/projectDetailHeader.tsx
Due: eslint --cache --fix, prettier --write

Upgrade to latest contracts
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/utils/Cargo.toml
Due: none

Bump new version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

update contract version
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/admin.controller.ts
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/network/network.service.ts
  apps/indexer-coordinator/src/payg/payg.model.ts
  apps/indexer-coordinator/src/payg/payg.query.service.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/utils/contractSDK.ts
  apps/indexer-coordinator/src/utils/network.ts
  apps/indexer-coordinator/src/utils/project.ts
  apps/indexer-coordinator/src/utils/promise.spec.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: migrate
  apps/indexer-admin/.env
  apps/indexer-admin/.env.development
  apps/indexer-admin/package.json
  apps/indexer-admin/public/static/connectWallet.png
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.module.css
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.tsx
  apps/indexer-admin/src/components/ConnectWallet/ConnectWallet.module.css
  apps/indexer-admin/src/components/ConnectWallet/ConnectWallet.tsx
  apps/indexer-admin/src/components/ConnectWallet/index.ts
  apps/indexer-admin/src/conf/rainbowConf.tsx
  apps/indexer-admin/src/conf/stableCoin.ts
  apps/indexer-admin/src/containers/account.tsx
  apps/indexer-admin/src/containers/contractSdk.tsx
  apps/indexer-admin/src/containers/web3.tsx
  apps/indexer-admin/src/hooks/indexerHook.ts
  apps/indexer-admin/src/hooks/network.ts
  apps/indexer-admin/src/hooks/paygHook.ts
  apps/indexer-admin/src/hooks/transactionHook.ts
  apps/indexer-admin/src/hooks/useEthersProvider.ts
  apps/indexer-admin/src/hooks/web3Hook.ts
  apps/indexer-admin/src/pages/account/account.tsx
  apps/indexer-admin/src/pages/footer/footer.tsx
  apps/indexer-admin/src/pages/header/header.tsx
  apps/indexer-admin/src/pages/metamask/metamaskView.tsx
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
  apps/indexer-admin/src/pages/register/registerPage.tsx
  apps/indexer-admin/src/utils/ipfs.ts
  apps/indexer-admin/src/utils/metamask.ts
  apps/indexer-admin/src/utils/web3.ts
  apps/indexer-admin/vite.config.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

Update deps
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

Update tests
  apps/indexer-proxy/proxy/examples/mock-open.rs
Due: none

feat: test
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/conf/stableCoin.ts
  apps/indexer-admin/src/hooks/indexerHook.ts
  apps/indexer-admin/src/pages/account/account.tsx
  apps/indexer-admin/src/pages/controllers/controllerItem.tsx
  apps/indexer-admin/src/pages/login/loginPage.tsx
Due: eslint --cache --fix, prettier --write

fix: usdc config
  apps/indexer-admin/src/conf/stableCoin.ts
Due: eslint --cache --fix, prettier --write

fix: useless env
  apps/indexer-admin/.env
  apps/indexer-admin/.env.development
  apps/indexer-admin/package.json
  apps/indexer-admin/src/hooks/paygHook.ts
Due: eslint --cache --fix, prettier --write

fix: lock
  apps/indexer-admin/yarn.lock
Due: none

feat: wrong indexer
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.module.css
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.tsx
  apps/indexer-admin/src/components/ConnectWallet/ConnectWallet.module.css
  apps/indexer-admin/src/components/ConnectWallet/ConnectWallet.tsx
Due: eslint --cache --fix, prettier --write

feat: loading
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.module.css
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.tsx
  apps/indexer-admin/src/containers/coordinatorIndexer.tsx
  apps/indexer-admin/src/pages/account/account.tsx
  apps/indexer-admin/src/pages/controllers/controllersPage.tsx
  apps/indexer-admin/src/pages/login/loginPage.tsx
  apps/indexer-admin/src/pages/network/networkPage.tsx
  apps/indexer-admin/src/pages/register/registerPage.tsx
Due: eslint --cache --fix, prettier --write

feat: show tips when register
  apps/indexer-admin/src/pages/register/registerPage.tsx
Due: eslint --cache --fix, prettier --write

feat: balance loading
  apps/indexer-admin/src/pages/account/account.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
