Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

update v1.4.6-5
  apps/indexer-coordinator/package.json
Due: none

[release] Bump v1.4.6
  apps/indexer-coordinator/package.json
Due: none

make sure price is set to 0 in db
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Better error info
  apps/indexer-proxy/utils/src/request.rs
Due: none

update channel consumer and agent
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

update channel query
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.7-0
  apps/indexer-coordinator/package.json
Due: none

invalidate auto checkpoint triggered by threshold
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.7-1
  apps/indexer-coordinator/package.json
Due: none

revert comment checkpoint
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.7-2
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Better proxy request error info (#261)
  apps/indexer-proxy/utils/src/request.rs
Due: none

Add debug for conflict
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

Fix coordinator spent in proxy
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Add debug
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Update proxy spent
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Clean
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Fix coordinator spent in proxy (#263)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

update entity and add migration[partial]
  apps/indexer-coordinator/src/migration/1698766826424-update-project-to-support-network-and-rpc.ts
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

Update README.md
  deploy/README.md
Due: prettier --write

force payg overflow to be 10000
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.7-3
  apps/indexer-coordinator/package.json
Due: none

bypass checkpoint
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.7-4
  apps/indexer-coordinator/package.json
Due: none

update query-limit
  apps/indexer-coordinator/src/utils/template.yml
Due: none

[release] Bump v1.4.7
  apps/indexer-coordinator/package.json
Due: none

Add API for get channel state from proxy
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Update docker-compose.yml
  deploy/docker-compose.yml
Due: none

support rpc project
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/migration/1698766826424-update-project-to-support-network-and-rpc.ts
  apps/indexer-coordinator/src/monitor/monitor.module.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.module.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.rpc.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/project.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

update type mapping
  apps/indexer-coordinator/src/monitor/monitor.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Change the state path
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Cleanup
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Update project configurations and fix minor bugs
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/migration/1698766826424-update-project-to-support-network-and-rpc.ts
  apps/indexer-coordinator/src/monitor/monitor.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.rpc.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

update according to develop branch
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/core/types.ts
Due: eslint --cache --fix, prettier --write

Add project type in proxy
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Add API for fetch proxy state (#265)
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
