Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Refactor project query & metadata
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/tools.rs
Due: prettier --write

Apply contract changes
  apps/indexer-admin/package.json
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/constant.ts
  apps/indexer-admin/src/utils/indexerActions.ts
  apps/indexer-admin/src/utils/project.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

Update indexing status
  apps/indexer-admin/src/containers/contractSdk.tsx
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/hooks/transactionHook.ts
  apps/indexer-admin/src/pages/project-details/config.ts
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/constant.ts
  apps/indexer-admin/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

Replace with
  apps/indexer-admin/src/hooks/transactionHook.ts
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/project-details/config.ts
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/utils/error.ts
  apps/indexer-admin/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

fix: change dictionary wording, default to false
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

sync state channel from on chain if specific differences between network and local
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/payg/payg.query.service.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

update compare channel
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

update version: 1.4.5-7
  apps/indexer-coordinator/package.json
Due: none

Update apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

update syncing process
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

update version 1.4.5-8
  apps/indexer-coordinator/package.json
Due: none

support testnet and channels without price
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

remove docker-cli
  Dockerfile
Due: none

fix undefined error
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

fix and add debug log
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

match status type
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

update BigNumberish
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Apply contract changes to coordinator (#253)
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/core/types.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/utils/project.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

Update contract changes for indexer admin (#254)
  apps/indexer-admin/package.json
  apps/indexer-admin/src/containers/contractSdk.tsx
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/hooks/transactionHook.ts
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/project-details/config.ts
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/constant.ts
  apps/indexer-admin/src/utils/error.ts
  apps/indexer-admin/src/utils/indexerActions.ts
  apps/indexer-admin/src/utils/project.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

Add rpc to query API
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/request.rs
Due: prettier --write

support update channel from network
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

update channel from network
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

v1.4.5-11
  apps/indexer-coordinator/package.json
Due: none

[release] Bump v1.4.5
  apps/indexer-coordinator/package.json
Due: none

Add ep_name to query API
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/p2p.rs
Due: none

change local state channel id from decimal to hex
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

update payg on chain transaction with mutexPromise
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.5-0
  apps/indexer-coordinator/package.json
Due: none

update v1.4.6-0
  apps/indexer-coordinator/package.json
Due: none

update network query with timeout
  apps/indexer-coordinator/src/payg/payg.query.service.ts
  apps/indexer-coordinator/src/utils/promise.ts
Due: eslint --cache --fix, prettier --write

update v1.4.6-1
  apps/indexer-coordinator/package.json
Due: none

match local onchain with network spent
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

not to update local spent when syncing
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.6-2
  apps/indexer-coordinator/package.json
Due: none

set agent as empty string
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.6-3
  apps/indexer-coordinator/package.json
Due: none

set price to 0
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

update v1.4.6-4
  apps/indexer-coordinator/package.json
Due: none

revert agent
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
