Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

update coordinator to v2.0.8-6
  apps/indexer-coordinator/package.json
Due: none

Update payg ws
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Mock websocket in ws
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Update ws path
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Handle ws `ping/pong`
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/websocket.rs
Due: prettier --write

Handle ws `ping/pong` (#408)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/websocket.rs
Due: prettier --write

Update query header
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Restore path
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Uncomment mock
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Fix
  apps/indexer-proxy/proxy/src/server.rs
Due: none

chore: change docker compose
  deploy/docker-compose.yml
Due: none

Proxy/support websocket (#406)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/response.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
  apps/indexer-proxy/utils/src/error.rs
Due: prettier --write

Fix inactive in payg
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

fix version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Fix inactive in payg (#410)
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

chore: change field
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
Due: eslint --cache --fix, prettier --write

Change pay by response
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: none

Add test comment
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

support polkadot websocket endpoint validation
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/project/project.rpc.service.ts
  apps/indexer-coordinator/src/project/rpc.factory.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

Update ws endpoint
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Bump new version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

feat: use contract query for minimum stake & commission
  apps/indexer-admin/package.json
  apps/indexer-admin/src/conf/constant.ts
  apps/indexer-admin/src/pages/register/indexerRegistryView.tsx
  apps/indexer-admin/src/types/schemas.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: support polkadot
  apps/indexer-admin/README.md
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
Due: eslint --cache --fix, prettier --write

feat: same
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
Due: eslint --cache --fix, prettier --write

feat: Improve support for Polkadot in RpcFamily
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

validate ws and http from same hostname
  apps/indexer-coordinator/src/project/project.rpc.service.ts
Due: eslint --cache --fix, prettier --write

update coordinator v2.0.8-7
  apps/indexer-coordinator/package.json
Due: none

refactor: Filter out empty service endpoints in ProjectRpcService
  apps/indexer-coordinator/src/project/project.rpc.service.ts
Due: eslint --cache --fix, prettier --write

update coordinator v2.0.8-8
  apps/indexer-coordinator/package.json
Due: none

Update substrate name
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Fix
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

fix: terser compress
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
Due: eslint --cache --fix, prettier --write

chore: bp
  apps/indexer-coordinator/package.json
Due: none

fix: judgement
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
Due: eslint --cache --fix, prettier --write

fix: condition
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
Due: eslint --cache --fix, prettier --write

chore: bo
  apps/indexer-coordinator/package.json
Due: none

http rpc is required for excellency service
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

Add no sig header
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Fix endpoints
  apps/indexer-proxy/proxy/src/project.rs
Due: none
