Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

Add extend price
  apps/indexer-proxy/utils/src/payg.rs
Due: none

Add extend price
  apps/indexer-coordinator/src/payg/payg.resolver.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/tools.rs
Due: eslint --cache --fix, prettier --write

Bump beta version
  apps/indexer-coordinator/package.json
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Fix fmt
  apps/indexer-coordinator/src/payg/payg.resolver.ts
Due: eslint --cache --fix, prettier --write

Update sign name
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Update
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Support price when extend
  apps/indexer-coordinator/src/payg/payg.resolver.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

TMP
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: prettier --write

Add batch limit
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/project.rs
Due: prettier --write

Revoke
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

fix
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Update version
  apps/indexer-coordinator/package.json
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

do not sync price if price has been set allow price from channelExtend api nullable
  apps/indexer-coordinator/src/payg/payg.resolver.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

fix: mark subquery node type as internal
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

Add batch limit (#444)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/project.rs
Due: prettier --write

Support price when extend in coordinator (#443)
  apps/indexer-coordinator/src/payg/payg.resolver.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

cleanup
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

cleanup version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

feat: reduce allocation
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
  apps/indexer-coordinator/src/network/network.service.ts
  apps/indexer-coordinator/test/over-allocation.test.ts
Due: eslint --cache --fix, prettier --write

feat: add flex default config
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/config/config.model.ts
  apps/indexer-coordinator/src/config/config.module.ts
  apps/indexer-coordinator/src/config/config.resolver.ts
  apps/indexer-coordinator/src/config/config.service.ts
  apps/indexer-coordinator/src/migration/1719917330339-add-config-table.ts
  apps/indexer-coordinator/src/project/project.module.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Update extend expiration and price (#442)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/payg.rs
  apps/indexer-proxy/utils/src/tools.rs
Due: prettier --write

In progress
  apps/indexer-proxy/proxy/src/project.rs
Due: none

enable rerun reduceAllocation task when failed
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

feat: add mount monitor dir
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write

feat: auto collect state channel rewards
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

Add jsonrpc style error for rpc
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
  apps/indexer-proxy/utils/src/error.rs
Due: none

fix lint issues
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/config/config.module.ts
  apps/indexer-coordinator/src/migration/1719917330339-add-config-table.ts
  apps/indexer-coordinator/src/project/project.module.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Bump beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

fmt
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Fix name
  apps/indexer-proxy/utils/src/error.rs
Due: none

Bump v2.4.0
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Add path & method for whitelist query
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/request.rs
Due: none

Support old query
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Add jsonrpc style error for rpc (#449)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
  apps/indexer-proxy/utils/src/error.rs
Due: none

beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

feat: auto collect channel rewards && merge auto reduce allocation
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/core/core.module.ts
  apps/indexer-coordinator/src/core/reward.service.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/src/reward/reward.module.ts
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write

test: remove
  apps/indexer-coordinator/test/over-allocation.test.ts
Due: eslint --cache --fix, prettier --write

feat: refactor
  apps/indexer-coordinator/src/config/config.model.ts
  apps/indexer-coordinator/src/config/config.resolver.ts
  apps/indexer-coordinator/src/config/config.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

feat: refactor
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write
