Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

fix: default undefind
  apps/indexer-admin/src/containers/coordinatorIndexer.tsx
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

chore: fix: text
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
Due: eslint --cache --fix, prettier --write

specify gasLimit
  apps/indexer-coordinator/src/core/contract.service.ts
Due: eslint --cache --fix, prettier --write

Add `docker-compose` for testnet
  deploy/docker-compose-testnet.yml
Due: none

Upgrade to latest contract & network (#334)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/examples/mock-open.rs
  apps/indexer-proxy/proxy/src/contracts.rs
Due: none

update config version
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

fix: sepolia
  apps/indexer-admin/src/containers/contractSdk.tsx
Due: eslint --cache --fix, prettier --write

fix: add a tips
  apps/indexer-admin/src/containers/contractSdk.tsx
Due: eslint --cache --fix, prettier --write

fix: payg loading
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
Due: eslint --cache --fix, prettier --write

fix: poor network exp
  apps/indexer-admin/src/components/introductionView.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
Due: eslint --cache --fix, prettier --write

replace ipfs links with unauthipfs (#318)
  apps/indexer-admin/src/utils/ipfs.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

Add `docker-compose` for testnet (#340)
  deploy/docker-compose-testnet.yml
Due: none

auto claim allocation rewards
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/core.module.ts
  apps/indexer-coordinator/src/core/reward.service.ts
  apps/indexer-coordinator/src/network/network.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

fix: controller withdraw ballance
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/utils/contractSDK.ts
Due: eslint --cache --fix, prettier --write

add missing rpc manifest fields
  apps/indexer-coordinator/src/project/project.manifest.ts
Due: eslint --cache --fix, prettier --write

fix: controller withdraw v2
  apps/indexer-coordinator/src/core/contract.service.ts
Due: eslint --cache --fix, prettier --write

get deployments with allocation from subquery
  apps/indexer-coordinator/src/core/reward.service.ts
  apps/indexer-coordinator/src/network/network.service.ts
  apps/indexer-coordinator/src/network/network.type.ts
Due: eslint --cache --fix, prettier --write

rename ws-endpoint to network-endpoint
  apps/indexer-coordinator/README.md
  apps/indexer-coordinator/scripts/start-testnet.sh
  apps/indexer-coordinator/src/admin.controller.ts
  apps/indexer-coordinator/src/configure/configure.module.ts
  apps/indexer-coordinator/src/core/account.model.ts
  apps/indexer-coordinator/src/core/account.service.ts
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/yargs.ts
  deploy/docker-compose-testnet.yml
  deploy/docker-compose.yml
  docker/dev/.env.example
  docker/dev/2_start.sh
  docker/test/docker-compose.yml
Due: eslint --cache --fix, prettier --write

wrap collectAllocationReward with retry and mutex
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

check controller ready
  apps/indexer-coordinator/src/core/network.service.ts
Due: eslint --cache --fix, prettier --write

update endpoints for testing on base sepolia
  apps/indexer-coordinator/scripts/start-testnet.sh
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/test/docker-compose.yml
Due: none

Fix controller address when missing
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Fix controller address when missing (#345)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Add rpc mainfest structs
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

comment to explain the extra calculation
  apps/indexer-coordinator/src/core/contract.service.ts
Due: eslint --cache --fix, prettier --write

update l1DataFee comment
  apps/indexer-coordinator/src/core/contract.service.ts
Due: eslint --cache --fix, prettier --write

Add compute unit times by query method
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Add rpc mainfest to metadata
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/project.rs
Due: prettier --write

Add check query method for close agreement
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

update contract sdk version
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

refactor network service
  apps/indexer-coordinator/src/agreement.controller.ts
  apps/indexer-coordinator/src/core/core.module.ts
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
  apps/indexer-coordinator/src/network/network.module.ts
  apps/indexer-coordinator/src/network/network.service.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write
