Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

Update coordinator and proxy default versions in migration script
  deploy/coordinator-migration-tool.sh
Due: none

Bump v2 for mainnet (#356)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

Update coordinator and proxy default versions in migration script (#359)
  deploy/coordinator-migration-tool.sh
Due: none

Bump new proxy verison & docker configure (#360)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
  deploy/coordinator-migration-tool.sh
Due: none

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

add: modifying proxy args
  deploy/coordinator-migration-tool.sh
Due: none

Update default values
  apps/indexer-coordinator/src/yargs.ts
  deploy/docker-compose.yml
Due: eslint --cache --fix, prettier --write

fix: minial token
  apps/indexer-admin/src/pages/register/prompts.ts
  apps/indexer-admin/src/types/schemas.ts
Due: eslint --cache --fix, prettier --write

bump coordinator v2.0.1
  apps/indexer-coordinator/package.json
  deploy/coordinator-migration-tool.sh
Due: none

fix: 0.001
  apps/indexer-admin/src/utils/account.ts
Due: eslint --cache --fix, prettier --write

lower balance limit
  apps/indexer-coordinator/src/core/contract.service.ts
Due: eslint --cache --fix, prettier --write

Lower balance limit (#366)
  apps/indexer-coordinator/src/core/contract.service.ts
Due: eslint --cache --fix, prettier --write

Bump coordinator version to 2.0.2
  apps/indexer-coordinator/package.json
Due: none

[release] bump coordinator v2.0.2 (#367)
  apps/indexer-coordinator/package.json
Due: none

Add debug logs for checking node health
  apps/indexer-coordinator/src/monitor/monitor.service.ts
Due: eslint --cache --fix, prettier --write

update version to 2.0.3-0
  apps/indexer-coordinator/package.json
Due: none

fix node endpoint finding error
  apps/indexer-coordinator/src/monitor/monitor.service.ts
Due: eslint --cache --fix, prettier --write

Update coordinator version to 2.0.3-1
  apps/indexer-coordinator/package.json
Due: none

fix: leaderboard url
  apps/indexer-admin/src/utils/apolloClient.ts
Due: eslint --cache --fix, prettier --write

Bump coordinator v2.0.3
  apps/indexer-coordinator/package.json
Due: none

update tx overrides
  apps/indexer-coordinator/src/core/contract.service.ts
Due: eslint --cache --fix, prettier --write

auto update project info once a day
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

update coordinator version to 2.0.4-0
  apps/indexer-coordinator/package.json
Due: none

Update project info logging level
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

[release] bump coordinator v2.0.4
  apps/indexer-coordinator/package.json
Due: none

Update proxy free daily limit
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
Due: none

Bump v1.0.1
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Proxy daily free limit (#372)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
Due: none

Add channel extend method in indexer
  apps/indexer-coordinator/src/payg/payg.resolver.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: eslint --cache --fix, prettier --write

Add extend price check
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/payg.rs
Due: prettier --write

Add dev proxy ci
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

Add dev proxy ci (#376)
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

Hotfix proxy CI
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

Hotfix Proxy CI (#377)
  .github/workflows/proxy-docker-dev.yml
  .github/workflows/proxy-docker-prod.yml
Due: none

Bump beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Bump coordinator beta version
  apps/indexer-coordinator/package.json
Due: none
