Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

update coordinator to v2.0.5-7
  apps/indexer-coordinator/package.json
Due: none

Fix remote next check
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Fix remote next check (#385)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

sort-project-list
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

[release] indexer-coordinator v2.0.5
  apps/indexer-coordinator/package.json
Due: none

Fix coordinator sync expired
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: eslint --cache --fix, prettier --write

Fix
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Fix
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Fix
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/onchain.service.ts
Due: eslint --cache --fix, prettier --write

Avoid block when query
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

fmt
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Add timeout to rpc channel
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

Add timeout to rpc channel
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

fmt
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

Avoid block when query (#388)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

fix rpc archive node validation
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

downgrade channle.spent log level
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

update coordinator version
  apps/indexer-coordinator/package.json
Due: none

Add debug info
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Fix graphql
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: eslint --cache --fix, prettier --write

Bump new version
  apps/indexer-coordinator/package.json
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Add channel extend method in indexer (#375)
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/payg/payg.resolver.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: eslint --cache --fix, prettier --write

Add payg query with block
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/payg.rs
Due: prettier --write

fmt
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Add bs64 to query state
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: none

Fix signature
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: none

old serialize
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: none

fix
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Fix middle
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Add network in metrics
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

bump new version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

feat: add header
  apps/indexer-admin/public/manifest.json
  apps/indexer-coordinator/scripts/start-testnet.sh
  apps/indexer-coordinator/src/app.module.ts
Due: eslint --cache --fix, prettier --write

feat: safe wallet
  apps/indexer-admin/src/conf/rainbowConf.tsx
Due: eslint --cache --fix, prettier --write

fix template to support complicated password
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write
