Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

feat: enhance functionality
  apps/indexer-coordinator/src/core/account.service.ts
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/utils/contractSDK.ts
  apps/indexer-coordinator/src/utils/provider.ts
Due: eslint --cache --fix, prettier --write

build: v2.8.3
  apps/indexer-coordinator/package.json
Due: none

fix: retry boundary
  apps/indexer-coordinator/src/utils/provider.ts
Due: eslint --cache --fix, prettier --write

build: v2.8.3-1
  apps/indexer-coordinator/package.json
Due: none

feat: improve
  apps/indexer-coordinator/src/utils/provider.ts
Due: eslint --cache --fix, prettier --write

build: v2.3.8-2
  apps/indexer-coordinator/package.json
Due: none

fix: array params
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/utils/contractSDK.ts
Due: eslint --cache --fix, prettier --write

feat: update docker-compose
  deploy/docker-compose.yml
Due: none

docs: update comment
  deploy/docker-compose.yml
Due: none

typo
  apps/indexer-admin/src/components/errorPlaceholder/index.tsx
Due: eslint --cache --fix, prettier --write

typo
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
Due: eslint --cache --fix, prettier --write

typo
  apps/indexer-admin/src/pages/controllers/types.ts
Due: eslint --cache --fix, prettier --write

typo
  apps/indexer-admin/src/pages/projects/constant.ts
Due: eslint --cache --fix, prettier --write

typo
  apps/indexer-admin/src/App.tsx
Due: eslint --cache --fix, prettier --write

typos
  apps/indexer-admin/TODO.md
Due: prettier --write

Update TODO.md
  apps/indexer-admin/TODO.md
Due: prettier --write

Update App.tsx
  apps/indexer-admin/src/App.tsx
Due: eslint --cache --fix, prettier --write

Update index.tsx
  apps/indexer-admin/src/components/errorPlaceholder/index.tsx
Due: eslint --cache --fix, prettier --write

typos-Update TODO.md
  apps/indexer-admin/TODO.md
Due: prettier --write

Remove useless ipfs address
  deploy/ipfs/ipfs.sh
Due: none

Optimize the build script to reduce docker layers by merging redundant operations.
  Dockerfile
Due: none

Optimize the build parameters
  Dockerfile
Due: none

Update README.md
  apps/indexer-coordinator/README.md
Due: prettier --write

update ui to new version Update the old link address to the new one.
  apps/indexer-coordinator/README.md
Due: prettier --write

Remove useless ipfs address in dev env
  docker/dev/ipfs/ipfs.sh
Due: none

Remove useless address in test env
  docker/test/ipfs/ipfs.sh
Due: none

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

add kad architecture code
  apps/indexer-proxy/proxy/src/mod_libp2p/mod.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
  apps/indexer-proxy/utils/src/constants.rs
Due: none

find node
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

update code
  apps/indexer-proxy/proxy/src/mod_libp2p/mod.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

use controller secret key to start libp2p network
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/mod.rs
Due: none

use utils Event as request-response message data type
  apps/indexer-proxy/proxy/src/mod_libp2p/behavior.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/mod.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

fmt code
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

update code
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

delete message file
  apps/indexer-proxy/proxy/src/mod_libp2p/message.rs
Due: none

feat: add remove allocation logs
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write

chore: bump to v2.8.3-1
  apps/indexer-coordinator/package.json
Due: none

feat: schedule log
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write

add libp2p
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/behavior.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/mod.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/constants.rs
Due: none
