Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

Explicitly set default values for the fields, ignoring the default values set in the DB schema. (#163)
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

fix: prod
  apps/indexer-admin/TODO.md
  apps/indexer-admin/src/utils/apolloClient.ts
Due: eslint --cache --fix, prettier --write

update: node container moniter service
  apps/indexer-coordinator/src/monitor/monitor.service.ts
Due: eslint --cache --fix, prettier --write

Fix: null value for channel id
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Fix: null value for channel id (#165)
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

fix: uptime
  apps/indexer-admin/src/components/uptimeBar.tsx
Due: eslint --cache --fix, prettier --write

fix: uptime (#166)
  apps/indexer-admin/src/components/uptimeBar.tsx
Due: eslint --cache --fix, prettier --write

update: node container moniter service
  apps/indexer-coordinator/src/monitor/monitor.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

update eslint rule
  apps/indexer-coordinator/.eslintrc.js
Due: none

update shared logger variable
  apps/indexer-coordinator/src/monitor/monitor.service.ts
Due: eslint --cache --fix, prettier --write

feat: node container moniter service (#167)
  apps/indexer-coordinator/.eslintrc.js
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/core/core.module.ts
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/src/monitor/monitor.module.ts
  apps/indexer-coordinator/src/monitor/monitor.service.ts
Due: eslint --cache --fix, prettier --write

[release] Bump v1.3.6
  apps/indexer-coordinator/package.json
Due: none

[release] Bump v1.3.6 (#168)
  apps/indexer-coordinator/package.json
Due: none

feat: use `--block-confirmations=200` for ethereum like chains by default
  apps/indexer-coordinator/src/utils/docker.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write

feat: use `--block-confirmations=200` for ethereum (#169)
  apps/indexer-coordinator/src/utils/docker.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write

feat: refine progress
  apps/indexer-admin/package.json
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

chore: readme
  README.md
  common/config/rush/.npmrc
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

feat: default
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
Due: eslint --cache --fix, prettier --write

feat: refine (#170)
  README.md
  apps/indexer-admin/package.json
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/utils/project.ts
  common/config/rush/.npmrc
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

remove react ui
  apps/indexer-admin/package.json
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/components/logView.tsx
  apps/indexer-admin/src/components/primary.tsx
  apps/indexer-admin/src/pages/header/header.tsx
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/pages/projects/styles.tsx
Due: eslint --cache --fix, prettier --write

chore: remove dependency
  apps/indexer-admin/package.json
Due: none

chore: lock file
  common/config/rush/pnpm-lock.yaml
Due: none

fix: validate container names before passing to `exec` cmd
  apps/indexer-coordinator/src/core/docker.service.ts
Due: eslint --cache --fix, prettier --write

fix: validate container names
  apps/indexer-coordinator/src/core/docker.service.ts
Due: eslint --cache --fix, prettier --write

[release] Bump v1.3.8
  apps/indexer-coordinator/package.json
Due: none

feat: remove react UI (#171)
  apps/indexer-admin/package.json
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/components/logView.tsx
  apps/indexer-admin/src/components/primary.tsx
  apps/indexer-admin/src/pages/header/header.tsx
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/pages/projects/styles.tsx
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

Fix closing expired transaction
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/network.service.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

Update lock file
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: mul 100
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
Due: eslint --cache --fix, prettier --write
