Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

Add project rate limit (#290)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: prettier --write

Update owner query statistics (#291)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

update stats
  apps/indexer-coordinator/src/stats/stats.controller.ts
  apps/indexer-coordinator/src/stats/stats.service.ts
Due: eslint --cache --fix, prettier --write

port back updates for stats
  apps/indexer-coordinator/src/stats/stats.controller.ts
  apps/indexer-coordinator/src/stats/stats.service.ts
Due: eslint --cache --fix, prettier --write

feat: start project
  apps/indexer-admin/src/App.css
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

Remove broadcast payg price
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

update rpc metadata and validation
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.rpc.service.ts
Due: eslint --cache --fix, prettier --write

feat: rpc services
  apps/indexer-admin/package.json
  apps/indexer-admin/src/index.css
  apps/indexer-admin/src/pages/project-details/components/projectDetailHeader.tsx
  apps/indexer-admin/src/pages/project-details/components/projectRpcServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: support rpc
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/utils/apolloClient.ts
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

feat: type
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
Due: eslint --cache --fix, prettier --write

fix: payg type
  apps/indexer-admin/src/hooks/paygHook.ts
Due: eslint --cache --fix, prettier --write

fix: style
  apps/indexer-admin/src/pages/project-details/payg/paygConfig.tsx
Due: eslint --cache --fix, prettier --write

feat: simple
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

remove getProjects api
  apps/indexer-coordinator/src/project/project.resolver.ts
Due: eslint --cache --fix, prettier --write

fix rps heights
  apps/indexer-coordinator/src/project/project.rpc.service.ts
  apps/indexer-coordinator/src/project/rpc.factory.ts
Due: eslint --cache --fix, prettier --write

fix `announce`
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
Due: eslint --cache --fix, prettier --write

feat: insight
  apps/indexer-admin/package.json
  apps/indexer-admin/src/components/baseLineCharts.tsx
  apps/indexer-admin/src/pages/project-details/components/projectInsights.tsx
  apps/indexer-admin/src/pages/project-details/components/projectTabBarView.tsx
  apps/indexer-admin/src/utils/apolloClient.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

Create update.txt
  deploy/update.txt
Due: none

update timestamp with time zone
  apps/indexer-coordinator/src/main.ts
  apps/indexer-coordinator/src/migration/1701943045349-update-stats-data-time.ts
  apps/indexer-coordinator/src/stats/stats.controller.ts
  apps/indexer-coordinator/src/stats/stats.model.ts
  apps/indexer-coordinator/src/stats/stats.service.ts
Due: eslint --cache --fix, prettier --write

feat: update
  apps/indexer-admin/src/pages/project-details/components/projectInsights.tsx
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
Due: eslint --cache --fix, prettier --write

port stats updates from main branch
  apps/indexer-coordinator/src/main.ts
  apps/indexer-coordinator/src/migration/1701943045349-update-stats-data-time.ts
  apps/indexer-coordinator/src/stats/stats.controller.ts
  apps/indexer-coordinator/src/stats/stats.model.ts
  apps/indexer-coordinator/src/stats/stats.service.ts
Due: eslint --cache --fix, prettier --write

fix: merge
  apps/indexer-admin/package.json
  apps/indexer-admin/src/components/baseLineCharts.tsx
  apps/indexer-admin/src/pages/project-details/components/projectInsights.tsx
  apps/indexer-admin/src/pages/project-details/components/projectTabBarView.tsx
  apps/indexer-admin/src/utils/apolloClient.ts
Due: eslint --cache --fix, prettier --write

feat: update
  apps/indexer-admin/src/App.css
  apps/indexer-admin/src/pages/header/header.tsx
  apps/indexer-admin/src/pages/project-details/components/projectRpcServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/components/projectServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/styles.tsx
  apps/indexer-admin/src/pages/projects/components/projecItemsHeader.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/pages/projects/constant.ts
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/pages/projects/styles.tsx
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: rate limit
  apps/indexer-admin/package.json
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/hooks/indexerHook.ts
  apps/indexer-admin/src/index.css
  apps/indexer-admin/src/pages/project-details/components/projectTabBarView.tsx
  apps/indexer-admin/src/pages/project-details/components/rateLimit.tsx
  apps/indexer-admin/src/pages/project-details/payg/paygConfig.tsx
  apps/indexer-admin/src/pages/project-details/payg/paygPlans.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-admin/src/utils/table.tsx
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: error handling
  apps/indexer-admin/public/images/error.svg
  apps/indexer-admin/src/components/errorPlaceholder/index.tsx
  apps/indexer-admin/src/hooks/indexerHook.ts
  apps/indexer-admin/src/pages/login/loginPage.tsx
Due: eslint --cache --fix, prettier --write

Add ws demo
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
Due: none

[release] v1.4.10
  apps/indexer-coordinator/package.json
Due: none

Bump new version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Bump new version (#309)
  apps/indexer-proxy/proxy/Cargo.toml
Due: none
