Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

add default image name
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

add libp2p
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/examples/p2p-query.rs
  apps/indexer-proxy/proxy/examples/p2p-query.rs.bak
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/behavior.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/mod.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/constants.rs
Due: none

change dns domain name
  apps/indexer-proxy/utils/src/constants.rs
Due: none

update port
  apps/indexer-proxy/utils/src/constants.rs
Due: none

add libp2p (#616)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/examples/p2p-query.rs
  apps/indexer-proxy/proxy/examples/p2p-query.rs.bak
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/behavior.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/mod.rs
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/constants.rs
Due: none

remap docker image name
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

change to use switch
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

rollback package.json
  apps/indexer-coordinator/package.json
Due: none

make variable outside
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

add default
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

support subgraph (#625)
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

indexer-coordinator 2.10.1, indexer-proxy 2.10.0
  apps/indexer-coordinator/package.json
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

indexer-coordinator 2.10.1, indexer-proxy 2.10.0 (#626)
  apps/indexer-coordinator/package.json
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

update docker image
  deploy/docker-compose.yml
Due: none

update docker image (#627)
  deploy/docker-compose.yml
Due: none

Fix typos in apps/indexer-admin/TODO.md
  apps/indexer-admin/TODO.md
Due: prettier --write

Fix typos in apps/indexer-proxy/doc/API.md
  apps/indexer-proxy/doc/API.md
Due: prettier --write

Fix typos in apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/doc/error-code-dictionary.md
Due: prettier --write

feat: support layeredge rpc
  apps/indexer-coordinator/src/project/rpc.factory.ts
  apps/indexer-coordinator/src/utils/metrics.ts
Due: eslint --cache --fix, prettier --write

update contract to v1.9
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

update contract to v1.9 (#630)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

build: v2.10.2
  apps/indexer-coordinator/package.json
Due: none

add error msg
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Update error-code-dictionary.md
  apps/indexer-proxy/doc/error-code-dictionary.md
Due: prettier --write

fix: update Redis TTL handling to ensure default expiration time
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

docs: fix dead link
  apps/indexer-admin/README.md
Due: prettier --write

[SKIP CI]docs: fix typos
  apps/indexer-admin/src/components/errorPlaceholder/index.tsx
  apps/indexer-coordinator/src/monitor.controller.ts
Due: eslint --cache --fix, prettier --write

feat: unsafe flag
  apps/indexer-coordinator/src/utils/template.yml
Due: none

Fixing healtheck for node service
  apps/indexer-coordinator/src/utils/template.yml
Due: none

Fixed dynamic vars.
  apps/indexer-coordinator/src/utils/template.yml
Due: none

Fixing healtheck for node service (#634)
  apps/indexer-coordinator/src/utils/template.yml
Due: none

feat: enhance health check for user-managed projects and add query health monitoring
  apps/indexer-coordinator/src/monitor/monitor.service.ts
Due: eslint --cache --fix, prettier --write

chore: update version to 2.10.3-1 in package.json
  apps/indexer-coordinator/package.json
Due: none

chore: update version to 2.10.1-beta.2 in Cargo.toml
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

chore: comment out unused QueryUri struct in server.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

feat: update health check URL for query endpoints to use Apollo server health path
  apps/indexer-coordinator/src/monitor/monitor.service.ts
Due: eslint --cache --fix, prettier --write

bump coordinator v2.10.3
  apps/indexer-coordinator/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
