Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

purge
  Dockerfile
Due: none

purge
  Dockerfile
  apps/indexer-admin/README.md
Due: prettier --write

use rm
  Dockerfile
  apps/indexer-admin/README.md
Due: prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

support docker/local ipfs (#150)
  .gitignore
  apps/indexer-coordinator/dev/docker-compose.yml
  apps/indexer-coordinator/dev/ipfs.sh
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/project.ts
  apps/indexer-coordinator/src/utils/template.yml
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

fix: ./node_modules/.bin/typeorm file related error with pnpm build
  apps/indexer-coordinator/package.json
Due: none

update: move .ipfs folder to be .data/ipfs
  .gitignore
  apps/indexer-coordinator/dev/docker-compose.yml
Due: none

[release] Bump v1.3.2
  apps/indexer-coordinator/package.json
Due: none

[release] Bump v1.3.2 (#157)
  apps/indexer-coordinator/package.json
Due: none

update: move .ipfs folder to be .data/ipfs (#156)
  .gitignore
  apps/indexer-coordinator/dev/docker-compose.yml
  apps/indexer-coordinator/package.json
Due: none

update: ProjectBaseConfig to support multiple endpoints
  .env_template
  apps/indexer-coordinator/.env_template
  apps/indexer-coordinator/src/migration/1690365333094-update-project-base-config-to-support-multiple-endpoint.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write

Remove report indexing status
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/core/query.service.ts
Due: eslint --cache --fix, prettier --write

[release] Bump v1.3.4
  apps/indexer-coordinator/package.json
Due: none

[release] Bump v1.3.4 (#159)
  apps/indexer-coordinator/package.json
Due: none

update: iterate networkEndpoints into multiple commands
  apps/indexer-coordinator/src/utils/template.yml
Due: none

chore: update readme
  .env
  README.md
Due: prettier --write

husky
  README.md
Due: prettier --write

fix: support trasform networkEndpoint with empty string
  apps/indexer-coordinator/src/migration/1690365333094-update-project-base-config-to-support-multiple-endpoint.ts
Due: eslint --cache --fix, prettier --write

feat: feature
  apps/indexer-admin/package.json
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
  apps/indexer-admin/src/pages/project-details/config.ts
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/types/schemas.ts
  apps/indexer-admin/src/utils/queries.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

renew
  apps/indexer-admin/package.json
  apps/indexer-admin/src/App.css
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
  apps/indexer-admin/src/components/popupView.tsx
  apps/indexer-admin/src/index.css
  apps/indexer-admin/src/pages/project-details/config.ts
Due: eslint --cache --fix, prettier --write

design
  apps/indexer-admin/package.json
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
  apps/indexer-admin/src/pages/project-details/components/projectServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/config.ts
Due: eslint --cache --fix, prettier --write

locks
  common/config/rush/pnpm-lock.yaml
Due: none

margin
  apps/indexer-admin/src/pages/project-details/styles.tsx
Due: eslint --cache --fix, prettier --write

feat: Allow Indexers to Set Multiple RPC Endpoint on their Project (#161)
  apps/indexer-admin/package.json
  apps/indexer-admin/src/App.css
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
  apps/indexer-admin/src/components/popupView.tsx
  apps/indexer-admin/src/index.css
  apps/indexer-admin/src/pages/project-details/components/projectServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/config.ts
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/styles.tsx
  apps/indexer-admin/src/types/schemas.ts
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-coordinator/.env_template
  apps/indexer-coordinator/src/migration/1690365333094-update-project-base-config-to-support-multiple-endpoint.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/template.yml
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: remove sentry
  apps/indexer-admin/.env
  apps/indexer-admin/.env.development
  apps/indexer-admin/craco.config.js
  apps/indexer-admin/index.html
  apps/indexer-admin/package.json
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/containers/web3.tsx
  apps/indexer-admin/src/env.d.ts
  apps/indexer-admin/src/index.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/components/projecItemsHeader.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/react-app-env.d.ts
  apps/indexer-admin/src/reportWebVitals.ts
  apps/indexer-admin/src/types/types.ts
  apps/indexer-admin/src/utils/apolloClient.ts
  apps/indexer-admin/src/utils/project.ts
  apps/indexer-admin/src/utils/web3.ts
  apps/indexer-admin/vite.config.ts
Due: eslint --cache --fix, prettier --write

feat: replace global
  apps/indexer-admin/index.html
  apps/indexer-admin/src/index.tsx
  apps/indexer-admin/vite.config.ts
Due: eslint --cache --fix, prettier --write

add: node container moniter service
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/core/core.module.ts
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/src/monitor/monitor.module.ts
  apps/indexer-coordinator/src/monitor/monitor.service.ts
Due: eslint --cache --fix, prettier --write

feat: support vite
  .vite/deps_temp_34328758/package.json
  .vite/deps_temp_3b56a58e/package.json
  .vite/deps_temp_bbc2570d/package.json
  .vite/deps_temp_dab890c9/package.json
  .vite/deps_temp_f7e751e5/package.json
  apps/indexer-admin/index.html
  apps/indexer-admin/package.json
  apps/indexer-admin/src/index.tsx
  apps/indexer-admin/src/utils/apolloClient.ts
  apps/indexer-admin/src/utils/web3.ts
  apps/indexer-admin/vite.config.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: remove useless
  .vite/deps_temp_34328758/package.json
  .vite/deps_temp_3b56a58e/package.json
  .vite/deps_temp_bbc2570d/package.json
  .vite/deps_temp_dab890c9/package.json
  .vite/deps_temp_f7e751e5/package.json
  apps/indexer-admin/src/index.css
Due: prettier --write

chore: remove useless dependencies
  apps/indexer-admin/package.json
Due: none

chore: lock file
  common/config/rush/pnpm-lock.yaml
Due: none

update: method to explicitly set default values for the fields,
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

feat: update readme
  apps/indexer-admin/README.md
Due: prettier --write

fix: type defination
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/types/types.ts
Due: eslint --cache --fix, prettier --write

feat: update env
  apps/indexer-admin/.env
  apps/indexer-admin/.env.development
Due: none

chore: ignore warning for now
  common/config/rush/command-line.json
  rush.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
