Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

split stream
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

update code
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

update code
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/p2p.rs
Due: none

modify function call
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

fix function
  apps/indexer-proxy/proxy/src/cli.rs
Due: none

feat: init integration table
  apps/indexer-coordinator/src/migration/1721982447267-add-integration-table.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

refactor: add a new module
  apps/indexer-coordinator/src/integration/integration.model.ts
  apps/indexer-coordinator/src/integration/integration.module.ts
  apps/indexer-coordinator/src/integration/integration.resolver.ts
  apps/indexer-coordinator/src/integration/integration.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.module.ts
  apps/indexer-coordinator/src/project/project.ollama.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

refactor: refactor
  apps/indexer-coordinator/src/integration/integration.model.ts
  apps/indexer-coordinator/src/integration/integration.resolver.ts
  apps/indexer-coordinator/src/integration/integration.service.ts
  apps/indexer-coordinator/src/project/project.llm.service.ts
  apps/indexer-coordinator/src/project/project.module.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

fix typo and use dev for testnet
  deploy/docker-compose-testnet.yml
Due: none

fix typo and use dev for testnet (#470)
  deploy/docker-compose-testnet.yml
Due: none

feat: start llm project
  apps/indexer-coordinator/src/integration/integration.model.ts
  apps/indexer-coordinator/src/integration/integration.module.ts
  apps/indexer-coordinator/src/integration/integration.resolver.ts
  apps/indexer-coordinator/src/integration/integration.service.ts
  apps/indexer-coordinator/src/migration/1721982447267-add-integration-table.ts
  apps/indexer-coordinator/src/project/project.llm.service.ts
  apps/indexer-coordinator/src/project/project.manifest.ts
  apps/indexer-coordinator/src/project/project.module.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/subscription.ts
Due: eslint --cache --fix, prettier --write

feat: stop/remove llm project
  apps/indexer-coordinator/src/project/project.llm.service.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
Due: eslint --cache --fix, prettier --write

feat: add module
  apps/indexer-coordinator/src/app.module.ts
Due: eslint --cache --fix, prettier --write

feat: support managed subquery
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
  apps/indexer-admin/src/pages/project-details/components/projectServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

fix: project status
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
Due: eslint --cache --fix, prettier --write

delete old code
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Init project type is ai
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metadata/ai.rs
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/error.rs
Due: prettier --write

feat: pull status
  apps/indexer-coordinator/src/project/project.llm.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: status
  apps/indexer-coordinator/src/core/types.ts
Due: eslint --cache --fix, prettier --write

Add pay by token
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: none

Add batch and scale pay
  apps/indexer-proxy/proxy/src/ai.rs
Due: none

feat: metadata
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/monitor/monitor.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

fix: status
  apps/indexer-admin/src/pages/project-details/components/projectServiceCard.tsx
  common/autoinstallers/rush-husky/package.json
  common/config/rush/.npmrc
  common/config/rush/.npmrc-publish
  common/config/rush/.pnpmfile.cjs
  common/config/rush/artifactory.json
  common/config/rush/build-cache.json
  common/config/rush/command-line.json
  common/config/rush/common-versions.json
  common/config/rush/experiments.json
  common/config/rush/pnpm-config.json
  common/config/rush/repo-state.json
  common/config/rush/rush-plugins.json
  common/config/rush/yarn.lock
  common/git-hooks/commit-msg.sample
  common/git-hooks/pre-commit
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
Due: eslint --cache --fix, prettier --write

style: eslint
  apps/indexer-coordinator/src/core/query.service.ts
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

build: v2.2.4
  apps/indexer-coordinator/package.json
Due: none

fix: validate chainId
  apps/indexer-coordinator/src/project/validator/subquery.validator.ts
Due: eslint --cache --fix, prettier --write

build: v2.3.0
  apps/indexer-coordinator/package.json
Due: none

fix free-query.rs file add Debug attribute to metrics export ports in testnet add debug_test_proxy.sh, and enable debugging with testnet docker-compose
  apps/indexer-proxy/proxy/examples/free-query.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  debug_test_proxy.sh
  deploy/docker-compose-testnet.yml
Due: none

add extend-channel example
  apps/indexer-proxy/proxy/examples/extend-channel.rs
Due: none

add get-price method
  apps/indexer-proxy/proxy/examples/extend-channel.rs
Due: none

update code
  apps/indexer-proxy/proxy/examples/extend-channel.rs
Due: none

Add header for stream
  apps/indexer-proxy/proxy/src/server.rs
Due: none

fmt
  apps/indexer-proxy/proxy/src/server.rs
Due: none

feat: save
  apps/indexer-admin/.eslintrc
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/pages/header/header.tsx
  apps/indexer-admin/src/pages/index.tsx
  apps/indexer-admin/src/pages/ollama-server/OllamaServer.tsx
  apps/indexer-admin/src/pages/project-details/components/llmSetting.tsx
  apps/indexer-admin/src/pages/project-details/components/projectLLMServicesCard.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

Keep when access is null
  apps/indexer-proxy/proxy/src/project.rs
Due: none

fmt
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
