Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

Refactor hour's metrics
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/primitives.rs
Due: none

Update substrate start height
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
Due: none

Bump beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Comment metrics
  apps/indexer-proxy/proxy/src/main.rs
Due: none

Fix tests
  apps/indexer-proxy/proxy/examples/free-query.rs
  apps/indexer-proxy/proxy/examples/p2p-query.rs
Due: none

Refactor indexer-proxy owner metrics (#287)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/examples/free-query.rs
  apps/indexer-proxy/proxy/examples/p2p-query.rs
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Add project rate limit
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: prettier --write

Update owner query statistics
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

[temp] project stats and rate limit
  apps/indexer-coordinator/.eslintrc.js
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/migration/1701342147690-add-project-statistics-entity.ts
  apps/indexer-coordinator/src/migration/1701361246451-add-project-rate-limit.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/stats/stats.controller.spec.ts
  apps/indexer-coordinator/src/stats/stats.controller.ts
  apps/indexer-coordinator/src/stats/stats.model.ts
  apps/indexer-coordinator/src/stats/stats.module.ts
  apps/indexer-coordinator/src/stats/stats.service.spec.ts
  apps/indexer-coordinator/src/stats/stats.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

feat:metadata
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

update stats
  apps/indexer-coordinator/src/stats/stats.controller.ts
  apps/indexer-coordinator/src/stats/stats.service.ts
Due: eslint --cache --fix, prettier --write

Update path name
  apps/indexer-proxy/proxy/src/metrics.rs
Due: none

update SeviceEndpointInput
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

update /stats/saveStatsList → /stats
  apps/indexer-coordinator/src/stats/stats.controller.ts
Due: eslint --cache --fix, prettier --write

Fix rate default 0
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

update getRpcEndpointKeys
  apps/indexer-coordinator/src/project/project.resolver.ts
Due: eslint --cache --fix, prettier --write

feat: first
  apps/indexer-admin/package.json
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/pages/project-details/components/projectServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
  apps/indexer-admin/src/pages/project-details/payg/paygConfig.tsx
  apps/indexer-admin/src/pages/project-details/payg/paygPlans.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/styles.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/components/projecItemsHeader.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

Add os to indexer healthy
  apps/indexer-proxy/proxy/src/account.rs
Due: none

stash
  apps/indexer-admin/package.json
  apps/indexer-admin/src/App.css
  apps/indexer-admin/src/components/avatar.tsx
  apps/indexer-admin/src/components/tagItem.tsx
  apps/indexer-admin/src/pages/header/styles.tsx
  apps/indexer-admin/src/pages/project-details/components/projectDetailHeader.tsx
  apps/indexer-admin/src/pages/project-details/components/projectRpcServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/styles.tsx
Due: eslint --cache --fix, prettier --write

pure project list api metadata api manifest api
  apps/indexer-coordinator/src/project/project.manifest.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

add stats and add rateLimit to project
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/migration/1701342147690-add-project-statistics-entity.ts
  apps/indexer-coordinator/src/migration/1701361246451-add-project-rate-limit.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/stats/stats.controller.spec.ts
  apps/indexer-coordinator/src/stats/stats.controller.ts
  apps/indexer-coordinator/src/stats/stats.model.ts
  apps/indexer-coordinator/src/stats/stats.module.ts
  apps/indexer-coordinator/src/stats/stats.service.spec.ts
  apps/indexer-coordinator/src/stats/stats.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

update migration
  apps/indexer-coordinator/src/migration/1701342147690-add-project-statistics-entity.ts
Due: eslint --cache --fix, prettier --write

update migration
  apps/indexer-coordinator/src/migration/1701342147690-add-project-statistics-entity.ts
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

[test] v1.4.10-1
  apps/indexer-coordinator/package.json
Due: none

Add report metadata status to metrics
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/primitives.rs
Due: none

Update rate limit in dev
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/examples/free-query.rs
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

use utc time instead; add logs
  apps/indexer-coordinator/src/stats/stats.service.ts
Due: eslint --cache --fix, prettier --write

[test] v1.4.10-2
  apps/indexer-coordinator/package.json
Due: none

Fix first hour
  apps/indexer-proxy/proxy/src/metrics.rs
Due: none

Fix first hour own metrics
  apps/indexer-proxy/proxy/src/metrics.rs
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
