Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

update HEALTHY -> RUNNING
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/core/types.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

update set default config value
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

update dockerfile and .dockerignore
  .dockerignore
  Dockerfile
  apps/indexer-coordinator/.dockerignore
Due: none

switch from pnmp to yarn
  common/autoinstallers/rush-husky/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/config/rush/yarn.lock
  rush.json
Due: none

Support new sdk flag `--primary-network-endpoint` (#183)
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

refactor: from docker command to docker api
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

fix container logs format
  apps/indexer-coordinator/src/core/docker.service.ts
Due: eslint --cache --fix, prettier --write

rename package name
  .github/workflows/pr.yml
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/examples/agreement-query.rs
  apps/indexer-proxy/proxy/examples/free-query.rs
  apps/indexer-proxy/proxy/examples/mock-open.rs
  apps/indexer-proxy/proxy/examples/p2p-query.rs
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/monitor.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/subscriber.rs
  apps/indexer-proxy/utils/Cargo.toml
Due: none

lock rush version
  .github/workflows/docker-dev.yml
  .github/workflows/docker-prod.yml
  .github/workflows/pr.yml
  .github/workflows/prerelease.yml
  Dockerfile
  rush.json
Due: none

[release] Bump v1.3.10
  apps/indexer-coordinator/package.json
Due: none

Support stable price & price oracle
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/payg.rs
  apps/indexer-proxy/utils/src/price_oracle.rs
Due: prettier --write

Add safe check for getting channel from db with id
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Add safe check for getting channel from db with id (#190)
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Bump beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Update dockerfile
  apps/indexer-proxy/proxy/Dockerfile
Due: none

[release] Bump v1.3.11
  apps/indexer-coordinator/package.json
Due: none

[release] Bump v1.3.12
  apps/indexer-coordinator/package.json
Due: none

lock rush version
  rush.json
Due: none

Add example to test payg signature
  apps/indexer-proxy/proxy/examples/mock-open.rs
Due: none

Refactor statechannel syncing
  apps/indexer-coordinator/.eslintrc.js
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

Fix build issue
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

TMP will revert
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/project.rs
Due: none

feat: add exactly error
  apps/indexer-admin/src/pages/account/account.tsx
  apps/indexer-admin/src/utils/error.ts
Due: eslint --cache --fix, prettier --write

feat: add exactly error (#194)
  apps/indexer-admin/src/pages/account/account.tsx
  apps/indexer-admin/src/utils/error.ts
Due: eslint --cache --fix, prettier --write

Lock proxy contracts to v0.14.0
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Lock proxy contracts to v0.14.0 (#195)
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

update
  apps/indexer-admin/yarn.lock
  package.json
Due: none

replace rush with yarn scripts [not workspace]
  .github/workflows/coordinator-docker-dev.yml
  .github/workflows/coordinator-docker-prod.yml
  .github/workflows/pr.yml
  .github/workflows/prerelease.yml
  Dockerfile
  README.md
  common/git-hooks/pre-commit
  docker/dev/1_install.sh
  docker/dev/2_start.sh
  package.json
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
