Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

subgraph init
  apps/indexer-coordinator/src/project/project.module.ts
  apps/indexer-coordinator/src/project/project.subgraph.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

Support thegraph node
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/metadata/thegraph.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: prettier --write

subgraph support
  apps/indexer-coordinator/src/project/project.manifest.ts
  apps/indexer-coordinator/src/project/project.module.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.subgraph.service.ts
  apps/indexer-coordinator/src/project/project.subgraph.ts
  apps/indexer-coordinator/src/project/subgraph.request.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

subgraph endpoints validation
  apps/indexer-coordinator/src/project/project.subgraph.service.ts
  apps/indexer-coordinator/src/project/subgraph.request.ts
Due: eslint --cache --fix, prettier --write

Support ep name
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/metadata/thegraph.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: prettier --write

Support thegraph admin endpoint
  apps/indexer-proxy/proxy/src/project.rs
Due: none

fix graphql types
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

fix type mapping
  apps/indexer-coordinator/src/project/project.subgraph.service.ts
Due: eslint --cache --fix, prettier --write

build coordinator v2.1.2-3
  apps/indexer-coordinator/package.json
Due: none

feat: support sub graph
  apps/indexer-admin/src/pages/project-details/components/projectDetailHeader.tsx
  apps/indexer-admin/src/pages/project-details/components/projectSubgraphServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/components/rpcSetting.tsx
  apps/indexer-admin/src/pages/project-details/components/subGraphSetting.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

fix minor errors
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/project.subgraph.service.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

update coordinator dependencies
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/network/network.type.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

Update thegraph endpoint key
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/metadata/thegraph.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Fix metadata
  apps/indexer-proxy/proxy/src/metadata/thegraph.rs
Due: none

Update
  apps/indexer-proxy/proxy/src/metadata/thegraph.rs
Due: none

rename
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/metadata/subgraph.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

new beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Fix the path
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Bump new version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Update auth verification to make it compatible with client signMesssage
  apps/indexer-proxy/proxy/src/auth.rs
Due: none

Support SubGraph node (#421)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subgraph.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: prettier --write

Code format
  apps/indexer-proxy/proxy/src/auth.rs
Due: none

Update auth verification to make it compatible with client `signMessage` (#425)
  apps/indexer-proxy/proxy/src/auth.rs
Due: none

Extract auth verification fn for whitelist
  apps/indexer-proxy/proxy/src/auth.rs
Due: none

Support whitelist query for ws
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Support whitelist query for WebSocket (#426)
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Support batch request in rpc
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Support ws & whitelist in metrics
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subgraph.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
  apps/indexer-proxy/utils/src/p2p.rs
Due: none

Test ws lib
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

remove test version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

init dbSize support
  apps/indexer-coordinator/src/stats/db.stats.service.ts
  apps/indexer-coordinator/src/stats/stats.controller.ts
  apps/indexer-coordinator/src/stats/stats.module.ts
Due: eslint --cache --fix, prettier --write

init admin endpoint support
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/docker.ts
Due: eslint --cache --fix, prettier --write

init auto collect channel rewards with config module
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/config/config.controller.ts
  apps/indexer-coordinator/src/config/config.model.ts
  apps/indexer-coordinator/src/config/config.module.ts
  apps/indexer-coordinator/src/config/config.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

Support batch request in rpc (#427)
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Fix free daily limit show
  apps/indexer-proxy/proxy/src/auth.rs
Due: none

Make `wl_query` backward compatibility
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Make `wl_query` backward compatibility (#431)
  apps/indexer-proxy/proxy/src/server.rs
Due: none

feat: ws
  apps/indexer-admin/package.json
  apps/indexer-admin/src/components/accountCard.tsx
  apps/indexer-admin/src/components/uptimeBar.tsx
  apps/indexer-admin/src/containers/contractSdk.tsx
  apps/indexer-admin/src/pages/project-details/components/projectSubgraphServiceCard.tsx
  apps/indexer-admin/src/pages/project-details/components/subGraphSetting.tsx
  apps/indexer-admin/vite.config.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

support subgraph ws endpoint
  apps/indexer-coordinator/src/project/project.subgraph.service.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
