Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Support `websocket`
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
  apps/indexer-proxy/utils/src/error.rs
Due: none

Handle all the ws message
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Remove `ws` connections in router
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Support `wrapped` format for websocket response
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/response.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Create `WebSocketConnection` to control the ws behaviour
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/response.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Split close methods
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Add condition check for valid project and ws endpoint
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Fix allow method
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/project.rs
Due: none

feat: use controller
  apps/indexer-admin/src/hooks/paygHook.ts
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/hooks/transactionHook.ts
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
  apps/indexer-admin/src/pages/project-details/prompts.ts
Due: eslint --cache --fix, prettier --write

feat: state change
  apps/indexer-admin/src/App.tsx
  apps/indexer-admin/src/components/ConnectWallet/ChainStatus.tsx
  apps/indexer-admin/src/containers/contractSdk.tsx
  apps/indexer-admin/src/hooks/useHasController.ts
Due: eslint --cache --fix, prettier --write

chore: Add logging for yargs argv and db options
  apps/indexer-coordinator/src/data-source.ts
  apps/indexer-coordinator/src/utils/logger.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

refactor: Improve transaction handling
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/core/types.ts
Due: eslint --cache --fix, prettier --write

chore: upgrade version
  apps/indexer-admin/package.json
  apps/indexer-admin/yarn.lock
Due: none

update indexer-coordinator to v2.0.8-5
  apps/indexer-coordinator/package.json
Due: none

fix gas fee estimation
  apps/indexer-coordinator/src/core/contract.service.ts
Due: eslint --cache --fix, prettier --write

fmt
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
Due: none

Remove all poi
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Remove poi from subquery metadata (#400)
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_evm.rs
  apps/indexer-proxy/proxy/src/metadata/rpc_substrate.rs
  apps/indexer-proxy/proxy/src/metadata/subquery.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Add rate limit to metadata
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Add rate limit to metadata (#405)
  apps/indexer-proxy/proxy/src/project.rs
Due: none

fmt
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/whitelist.rs
Due: none

Update websocket handler
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Split `query_single_state`
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Intergrate query single state into ws
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Split `query_multi_state`
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Ready to go
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Revert comment codes
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Update ws error code
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: prettier --write

Add auth verification for agreement query
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Handle inactive status
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Fix typo
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Improve the async lock
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/subscriber.rs
  apps/indexer-proxy/proxy/src/whitelist.rs
  apps/indexer-proxy/utils/src/tools.rs
Due: none

Proxy: enable query api with whitelist account (#399)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/subscriber.rs
  apps/indexer-proxy/proxy/src/whitelist.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/tools.rs
Due: prettier --write

Add specific auth for ws
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Bump beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Compute unit times by query method (#346)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: prettier --write

fmt
  apps/indexer-proxy/proxy/src/auth.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Add unit compute to ws
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

Add check to ws
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/websocket.rs
Due: none

fix collect allocation rewards
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
