Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

fix template encode error
  apps/indexer-coordinator/src/utils/docker.ts
  apps/indexer-coordinator/src/utils/template.yml
  docker/dev/2_start.sh
Due: eslint --cache --fix, prettier --write

fix admin payg token error
  apps/indexer-admin/src/hooks/paygHook.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

[release] Bump v1.3.13
  apps/indexer-coordinator/package.json
Due: none

Add signature to query response
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

merge deploy guide from https://github.com/subquery/indexer-services
  deploy/README.md
  deploy/docker-compose.yml
  deploy/ipfs/ipfs.sh
  deploy/metrics/dashboards/dashboards.yaml
  deploy/metrics/dashboards/grafana.json
  deploy/metrics/datasources/datasource.yml
  deploy/metrics/docker-compose-metrics.yml
  deploy/metrics/prometheus.yml
Due: prettier --write

Fix timestamp
  apps/indexer-proxy/proxy/src/project.rs
Due: none

fix: error handling
  apps/indexer-admin/src/hooks/transactionHook.ts
  apps/indexer-admin/src/pages/account/account.tsx
Due: eslint --cache --fix, prettier --write

fix: error handling (#202)
  apps/indexer-admin/src/hooks/transactionHook.ts
  apps/indexer-admin/src/pages/account/account.tsx
Due: eslint --cache --fix, prettier --write

Refactoring `statechannel` syncing (#193)
  apps/indexer-coordinator/.eslintrc.js
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

fix: _metadata table query issue
  apps/indexer-coordinator/src/db/db.module.ts
Due: eslint --cache --fix, prettier --write

fix: _metadata table query issue (#203)
  apps/indexer-coordinator/src/db/db.module.ts
Due: eslint --cache --fix, prettier --write

Update request header when has authorization
  apps/indexer-proxy/utils/src/request.rs
Due: none

Update request header when has authorization (#204)
  apps/indexer-proxy/utils/src/request.rs
Due: none

fix: clone deep
  apps/indexer-admin/src/pages/controllers/controllersPage.tsx
Due: eslint --cache --fix, prettier --write

fix: clone deep (#205)
  apps/indexer-admin/src/pages/controllers/controllersPage.tsx
Due: eslint --cache --fix, prettier --write

Fix beta version in version encode
  apps/indexer-proxy/proxy/src/metrics.rs
Due: none

Fix beta version in version encode (#206)
  apps/indexer-proxy/proxy/src/metrics.rs
Due: none

Fix stable coin's default value when project no flex plan
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/subscriber.rs
Due: none

revert version change
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

stream the json value to hash
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/project.rs
Due: prettier --write

Update docker-compose file
  deploy/docker-compose.yml
Due: none

feat: dp project config
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
Due: eslint --cache --fix, prettier --write

feat: dp project config (#209)
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
Due: eslint --cache --fix, prettier --write

remove dockerode-compose
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

update temp version
  apps/indexer-coordinator/package.json
Due: none

update container status checking
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/utils/docker.ts
Due: eslint --cache --fix, prettier --write

rm commented codes
  apps/indexer-coordinator/src/core/docker.service.ts
Due: eslint --cache --fix, prettier --write

fix read properties of null
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

throw when project not exist
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

disable purgeDB when db not exists set block-confirmations to 100
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
