Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

Refactor endpoint condition in proxy (#463)
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

feat: puling
  apps/indexer-admin/src/pages/ollama-server/OllamaServer.tsx
  apps/indexer-admin/src/pages/project-details/components/projectLLMServicesCard.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

feat: status
  apps/indexer-admin/src/pages/ollama-server/OllamaServer.tsx
  apps/indexer-admin/src/pages/project-details/components/projectDetailsView.tsx
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

feat: pul
  apps/indexer-admin/src/pages/ollama-server/OllamaServer.tsx
Due: eslint --cache --fix, prettier --write

feat: demo version
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/integration/integration.model.ts
  apps/indexer-coordinator/src/integration/integration.resolver.ts
  apps/indexer-coordinator/src/integration/integration.service.ts
  apps/indexer-coordinator/src/project/project.llm.service.ts
  apps/indexer-coordinator/src/project/project.manifest.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.resolver.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

build: v2.2.4-1
  apps/indexer-coordinator/package.json
Due: none

build: v2.2.4-2
  apps/indexer-coordinator/package.json
Due: none

chore: type
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
Due: eslint --cache --fix, prettier --write

fix: services
  apps/indexer-admin/src/pages/project-details/components/projectDetailHeader.tsx
  apps/indexer-admin/src/pages/project-details/components/projectLLMServicesCard.tsx
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
Due: eslint --cache --fix, prettier --write

feat: use node-fetch
  apps/indexer-coordinator/src/integration/integration.resolver.ts
  apps/indexer-coordinator/src/integration/integration.service.ts
  apps/indexer-coordinator/src/project/project.llm.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/ollama.ts
Due: eslint --cache --fix, prettier --write

refactor: remove useless
  apps/indexer-coordinator/src/integration/integration.resolver.ts
  apps/indexer-coordinator/src/integration/integration.service.ts
  apps/indexer-coordinator/src/project/project.llm.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/ollama.ts
Due: eslint --cache --fix, prettier --write

fix: delete model
  apps/indexer-coordinator/src/project/project.llm.service.ts
Due: eslint --cache --fix, prettier --write

build: v2.2.4-3
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

Use endpoint with ep_name
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Cleanup
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Add test path
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: none

fmt
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

tmp
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Update
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Improve response
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
Due: none

Improve errors
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/utils/src/error.rs
Due: none

Improve load tokeninzer
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
Due: none

fix free-query.rs file add Debug attribute to metrics export ports in testnet add debug_test_proxy.sh, and enable debugging with testnet docker-compose
  apps/indexer-proxy/proxy/examples/free-query.rs
  apps/indexer-proxy/proxy/src/metrics.rs
  debug_test_proxy.sh
  deploy/docker-compose-testnet.yml
Due: none

Use tokenizer file
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/proxy/tokenizer.json
Due: none

Bump new version
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Send first/last state
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
Due: none

fmt
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
Due: none

update axum to 0.7
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
Due: none

use http crate
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/constants.rs
Due: none

fmt
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/src/constants.rs
Due: none

update axum to 0.7 (#483)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/constants.rs
Due: none

Support AI project in proxy (#473)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/ai.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/metadata/ai.rs
  apps/indexer-proxy/proxy/src/metadata/mod.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/tokenizer.json
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/constants.rs
  apps/indexer-proxy/utils/src/error.rs
  apps/indexer-proxy/utils/src/payg.rs
Due: prettier --write

update sysinfo to 0.31
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/metrics.rs
  apps/indexer-proxy/proxy/src/monitor.rs
Due: none

use channel_id_to_keyname function to generate redis keyname
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

fix parameter
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

add libp2p and use serde_json
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

split stream
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none

add GroupEvent struct
  apps/indexer-proxy/utils/src/p2p.rs
Due: none

get the event msg handled in the handle_event function
  apps/indexer-proxy/proxy/src/p2p.rs
Due: none
