Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

fix metrics peer_id
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

fix error address
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

monitor metrics connection
  apps/indexer-proxy/proxy/src/mod_libp2p/network.rs
Due: none

fix in theTODO.md
  apps/indexer-admin/TODO.md
Due: prettier --write

error-code-dictionary.md
  apps/indexer-proxy/doc/error-code-dictionary.md
Due: prettier --write

Update queries.ts
  apps/indexer-admin/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

Update notification.ts
  apps/indexer-admin/src/utils/notification.ts
Due: eslint --cache --fix, prettier --write

Update payg.rs
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Update auth.rs
  apps/indexer-proxy/proxy/src/auth.rs
Due: none

Fix typos in apps/indexer-admin/TODO.md
  apps/indexer-admin/TODO.md
Due: prettier --write

Fix typos in apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/doc/error-code-dictionary.md
Due: prettier --write

Fix typos in apps/indexer-proxy/doc/API.md
  apps/indexer-proxy/doc/API.md
Due: prettier --write

feat: add host env param
  apps/indexer-coordinator/src/metrics/coordinator.metric.service.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

feat: optimize collect allocation
  apps/indexer-coordinator/src/config/config.service.ts
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write

feat: add sentry
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/reward/reward.service.ts
  apps/indexer-coordinator/src/yargs.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

chore: bump to v2.8.5
  apps/indexer-coordinator/package.json
Due: none

feat: config sentry dsn
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

feat: ignore unhandled exception
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/app.module.ts
  apps/indexer-coordinator/src/core/onchain.service.ts
Due: eslint --cache --fix, prettier --write

feat: remove filter condition
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

build: bump to v2.8.5-2
  apps/indexer-coordinator/package.json
Due: none

feat: terminate channel without sign
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

build: bump tp v2.8.5-3
  apps/indexer-coordinator/package.json
Due: none

fix: fix remote value
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

build: bump to v2.8.5-4
  apps/indexer-coordinator/package.json
Due: none

update subql-contracts to v1.6.0
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

update subql-contracts to v1.6.0 (#597)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

fix: fix array error
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

build: bump to v2.8.5-5
  apps/indexer-coordinator/package.json
Due: none

feat: protect
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

build: bump to v2.8.5-6
  apps/indexer-coordinator/package.json
Due: none

fix: fix protect
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

build: bump v2.8.5-7
  apps/indexer-coordinator/package.json
Due: none

fix: fix boot error
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

feat: retry status
  apps/indexer-coordinator/src/reward/reward.service.ts
Due: eslint --cache --fix, prettier --write
