Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

fix: to fixed
  apps/indexer-admin/src/pages/project-details/components/projectStatusView.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
  apps/indexer-admin/src/utils/units.ts
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

[release] Bump v1.3.9
  apps/indexer-coordinator/package.json
Due: none

Add token field to project payg table
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Fix token field
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

Fix closing expired transaction (#174)
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/yarn.lock
  yarn.lock
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

add: docker/local ipfs config
  .gitignore
Due: none

fix: Dockerfile relative path
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

update: make sure mmrPath has no trailing slash
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

update: move .ipfs folder to be .data/ipfs
  .gitignore
Due: none

feat: easy startup for dev environment setup and code debug
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/utils/docker.ts
  apps/indexer-coordinator/src/yargs.ts
  docker/dev/.env.example
  docker/dev/1_install.sh
  docker/dev/2_start.sh
  docker/dev/README.md
  docker/dev/docker-compose.yml
  docker/dev/ipfs/ipfs.sh
  docker/test/docker-compose.yml
  docker/test/ipfs/ipfs.sh
Due: eslint --cache --fix, prettier --write

feat: easy startup for dev environment setup and code debug
  docker/dev/2_start.sh
Due: none

feat: easy startup for dev environment setup
  docker/dev/ipfs/ipfs.sh
  docker/test/docker-compose.yml
  docker/test/ipfs/ipfs.sh
Due: none

feat: easy startup for dev environment setup
  docker/dev/2_start.sh
Due: none

feat: easy startup for dev environment setup
  docker/dev/.env.example
  docker/dev/README.md
Due: prettier --write

upgrade
  apps/indexer-admin/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore: ignore
  apps/indexer-admin/src/containers/contractSdk.tsx
Due: eslint --cache --fix, prettier --write

fix: only restart nodes that are not marked not_indexing
  apps/indexer-coordinator/src/monitor/monitor.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Upgrade contract sdk
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/utils/contractSDK.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

Upgrade contract sdk (#181)
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/utils/contractSDK.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

update readme
  README.md
Due: prettier --write

Support new sdk flag `--primary-network-endpoint`
  apps/indexer-coordinator/src/project/project.model.ts
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/utils/template.yml
Due: eslint --cache --fix, prettier --write

feat: easy startup for dev environment setup and code debug (#175)
  README.md
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/utils/docker.ts
  apps/indexer-coordinator/src/yargs.ts
  docker/dev/.env.example
  docker/dev/1_install.sh
  docker/dev/2_start.sh
  docker/dev/README.md
  docker/dev/docker-compose.yml
  docker/dev/ipfs/ipfs.sh
  docker/test/docker-compose.yml
  docker/test/ipfs/ipfs.sh
Due: eslint --cache --fix, prettier --write

add migration for payg entity token field
  apps/indexer-coordinator/src/migration/1692668452846-add-token-to-payg.ts
Due: eslint --cache --fix, prettier --write

Support new sdk flag `--primary-network-endpoint`
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

add .dockerignore replace pnpm with yarn improve yarn performance
  .dockerignore
  Dockerfile
  docker/test/docker-compose.yml
Due: none

improve readability
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Create LICENCE
  LICENCE
Due: none

Update LICENSE
  apps/indexer-admin/LICENSE
Due: none

Update LICENSE
  apps/indexer-coordinator/LICENSE
Due: none

add default value for payg token field
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

add desiredStatus
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/core/types.ts
  apps/indexer-coordinator/src/monitor/monitor.service.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
