Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

Ignore type error temp
  src/payg/payg.query.service.ts
  src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

Fix: return none null for account metadata (#143)
  src/core/account.service.ts
  src/payg/payg.query.service.ts
  src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  package.json
Due: none

Fix state channel syncing
  src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Add more logs for payg
  src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

Fix/crash issue (#144)
  src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

[release] Bump v1.3.0
  package.json
Due: none

[release] Bump v1.3.0 (#145)
  package.json
Due: none

up to date
  apps/indexer-coordinator/README.md
  apps/indexer-coordinator/src/sync.ts
  apps/indexer-coordinator/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

ignore
  apps/indexer-coordinator/src/utils/queries.ts
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

admin up to date
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/pages/project-details/config.ts
  apps/indexer-admin/src/pages/project-details/payg/paygPlans.tsx
  apps/indexer-admin/src/pages/project-details/projectDetailsPage.tsx
  apps/indexer-admin/src/pages/project-details/types.ts
  apps/indexer-admin/src/pages/projects/projectsPage.tsx
  apps/indexer-admin/src/utils/apolloClient.ts
  apps/indexer-admin/src/utils/error.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

chore: add eslint readme
  README.md
Due: prettier --write

up to date
  apps/indexer-admin/TODO.md
  apps/indexer-admin/package.json
  apps/indexer-admin/src/hooks/paygHook.ts
  apps/indexer-admin/src/pages/project-details/components/projectTabBarView.tsx
  apps/indexer-admin/src/pages/project-details/payg/paygDatasource.tsx
  apps/indexer-admin/src/utils/metamask.ts
  apps/indexer-admin/src/utils/units.ts
  apps/indexer-admin/src/utils/web3.ts
Due: eslint --cache --fix, prettier --write

update package json
  apps/indexer-admin/package.json
Due: none

feat: remove nested folder
  Dockerfile
Due: none

chore: lock version
  .github/actions/create-prerelease/action.yml
  Dockerfile
Due: none

trigger prerelease
  apps/indexer-admin/README.md
Due: prettier --write

add: docker/local ipfs config
  .gitignore
  dev/docker-compose.yml
  src/project/project.service.ts
  src/project/types.ts
  src/utils/project.ts
  src/utils/template.yml
Due: eslint --cache --fix, prettier --write

add: docker/local ipfs config
  src/project/project.service.ts
  src/project/types.ts
  src/utils/template.yml
Due: eslint --cache --fix, prettier --write

fix: ws-endpoint typo
  dev/docker-compose.yml
Due: none

fix: Dockerfile relative path add: pass mmrPath into template.yml to take effect
  apps/indexer-coordinator/dev/docker-compose.yml
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
Due: eslint --cache --fix, prettier --write

fix: Dockerfile relative path
  apps/indexer-coordinator/dev/docker-compose.yml
  apps/indexer-coordinator/src/project/project.service.ts
  apps/indexer-coordinator/src/project/types.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

Fix: number overflow
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

Remove yarn.lock at root path
  yarn.lock
Due: none

Remove deprecated options in cmds
  apps/indexer-coordinator/src/configure/configure.module.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

update: make sure mmrPath has no trailing slash
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Remove `dev` in IConfig
  apps/indexer-coordinator/src/configure/configure.module.ts
Due: eslint --cache --fix, prettier --write

update mmrPath default value
  apps/indexer-coordinator/dev/docker-compose.yml
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

Remove deprecated options (#152)
  apps/indexer-coordinator/src/configure/configure.module.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

add: shell script to add subquery.network nodes as bootstrap nodes
  apps/indexer-coordinator/dev/docker-compose.yml
  apps/indexer-coordinator/dev/ipfs.sh
Due: none

update workflow
  .github/workflows/docker-dev.yml
  .github/workflows/docker-prod.yml
  .github/workflows/prerelease.yml
  Dockerfile
Due: none
