Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

[release] Bump v1.3.14
  apps/indexer-coordinator/package.json
Due: none

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

Update docker-compose file (#208)
  deploy/docker-compose.yml
Due: none

feat: stable coin
  apps/indexer-admin/.env
  apps/indexer-admin/.env.development
  apps/indexer-admin/package.json
  apps/indexer-admin/public/images/ksqt.svg
  apps/indexer-admin/public/images/usdc.png
  apps/indexer-admin/src/components/primary.tsx
  apps/indexer-admin/src/hooks/paygHook.ts
  apps/indexer-admin/src/pages/project-details/payg/paygConfig.tsx
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
  apps/indexer-admin/src/styles/input.tsx
  apps/indexer-admin/src/utils/units.ts
  apps/indexer-admin/vite.config.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: default address
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
Due: eslint --cache --fix, prettier --write

feat(SQN-1864): stable coin on admin (#212)
  apps/indexer-admin/.env
  apps/indexer-admin/.env.development
  apps/indexer-admin/package.json
  apps/indexer-admin/public/images/ksqt.svg
  apps/indexer-admin/public/images/usdc.png
  apps/indexer-admin/src/components/primary.tsx
  apps/indexer-admin/src/hooks/paygHook.ts
  apps/indexer-admin/src/pages/project-details/payg/paygConfig.tsx
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
  apps/indexer-admin/src/styles/input.tsx
  apps/indexer-admin/src/utils/units.ts
  apps/indexer-admin/vite.config.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

update secret-key for docker compose
  docker/dev/docker-compose.yml
  docker/test/docker-compose.yml
Due: none

update mumbai network-endpoint for testing
  docker/dev/docker-compose.yml
  docker/test/docker-compose.yml
Due: none

remove oudated docker-compose
  apps/indexer-coordinator/dev/docker-compose.yml
  apps/indexer-coordinator/dev/docker-db.yml
  apps/indexer-coordinator/dev/ipfs.sh
Due: none

Comment signature
  apps/indexer-proxy/proxy/src/project.rs
Due: none

fix: decimal
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
Due: eslint --cache --fix, prettier --write

feat: decimal
  apps/indexer-admin/src/hooks/paygHook.ts
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
Due: eslint --cache --fix, prettier --write

chore: disbale
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
Due: eslint --cache --fix, prettier --write

[temp]
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/yarn.lock
Due: eslint --cache --fix, prettier --write

enable usdc
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
Due: eslint --cache --fix, prettier --write

update contract sdk version
  apps/indexer-admin/package.json
  apps/indexer-admin/yarn.lock
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

Add signature to query response (#199)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: prettier --write

Support price token & price oracle (#200)
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/Dockerfile
  apps/indexer-proxy/proxy/examples/mock-open.rs
  apps/indexer-proxy/proxy/src/contracts.rs
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/proxy/src/subscriber.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/payg.rs
  apps/indexer-proxy/utils/src/price_oracle.rs
Due: prettier --write

Bump indexer-proxy v1.3.0
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

[release] Bump v1.4.0
  apps/indexer-coordinator/package.json
Due: none

Fix contract version
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

Fix contract version (#217)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/payg.rs
Due: none

feat: stable coin address
  apps/indexer-admin/src/containers/web3.tsx
  apps/indexer-admin/src/pages/project-details/payg/projectPayg.tsx
Due: eslint --cache --fix, prettier --write

Bump indexer-proxy v1.3.0 (#215)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

update queryMetaData
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-coordinator/src/core/query.service.ts
Due: eslint --cache --fix, prettier --write

revert
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-coordinator/src/core/query.service.ts
Due: eslint --cache --fix, prettier --write

update getQueryMetaData startHeight
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write

update getQueryMetaData startHeight
  apps/indexer-admin/src/hooks/projectHook.ts
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/project/project.model.ts
Due: eslint --cache --fix, prettier --write
