Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

Add Allow expose headers
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/server.rs
Due: none

remove unused code
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Allow any headers
  apps/indexer-proxy/proxy/src/server.rs
Due: none

Cleanup code
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Add Allow expose headers in proxy (#238)
  apps/indexer-proxy/proxy/src/server.rs
Due: none

feat: dictionary wording
  apps/indexer-admin/src/components/forms/restartIndexing.tsx
Due: eslint --cache --fix, prettier --write

[release] Bump v1.4.4
  apps/indexer-coordinator/package.json
Due: none

Fix poi in sdk v3
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Fix query
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/graphql.rs
Due: none

Use metadata last process height as poi latest height
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

Bump new version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Fix POI in subquery v3 (#242)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: none

fix: uptime
  apps/indexer-admin/src/components/uptimeBar.tsx
Due: eslint --cache --fix, prettier --write

Refactor API
  apps/indexer-proxy/README.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/monitor.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/p2p.rs
  deploy/docker-compose.yml
  docker/dev/docker-compose.yml
  docker/test/docker-compose.yml
Due: prettier --write

Add PaygPrice event
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/utils/src/p2p.rs
Due: none

Refactor proxy api (#246)
  apps/indexer-proxy/README.md
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/account.rs
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/main.rs
  apps/indexer-proxy/proxy/src/monitor.rs
  apps/indexer-proxy/proxy/src/p2p.rs
  apps/indexer-proxy/proxy/src/payg.rs
  apps/indexer-proxy/proxy/src/primitives.rs
  apps/indexer-proxy/proxy/src/project.rs
  apps/indexer-proxy/proxy/src/server.rs
  apps/indexer-proxy/utils/Cargo.toml
  apps/indexer-proxy/utils/src/p2p.rs
  deploy/docker-compose.yml
  docker/dev/docker-compose.yml
  docker/test/docker-compose.yml
Due: prettier --write

Use contracts develop branch
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

fix: get state channels by indexer fix: not get state channel from on chain
  apps/indexer-coordinator/src/payg/payg.query.service.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

fix: state channel gql
  apps/indexer-coordinator/src/payg/payg.query.service.ts
Due: eslint --cache --fix, prettier --write

fix: typo
  apps/indexer-admin/src/pages/account/account.tsx
Due: eslint --cache --fix, prettier --write

fix syncOpen bug
  apps/indexer-coordinator/src/core/docker.service.ts
  apps/indexer-coordinator/src/payg/payg.sync.service.ts
Due: eslint --cache --fix, prettier --write

remove sepcName
  apps/indexer-proxy/proxy/src/project.rs
Due: none

fix: update metadata loading
  apps/indexer-admin/src/pages/account/account.tsx
Due: eslint --cache --fix, prettier --write

lock contract sdk version to 0.16.2
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

update contract sdk version
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

fix typo
  apps/indexer-admin/src/pages/controllers/controllersPage.tsx
  apps/indexer-admin/src/utils/queries.ts
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/service.resolver.ts
Due: eslint --cache --fix, prettier --write

update project status logic
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/core/types.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Upgrade `contract-sdk`
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

Update indexer deployment status
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/network.service.ts
  apps/indexer-coordinator/src/core/query.service.ts
  apps/indexer-coordinator/src/core/types.ts
  apps/indexer-coordinator/src/project/project.service.ts
Due: eslint --cache --fix, prettier --write

Use subquerynetwork host
  apps/indexer-coordinator/src/utils/project.ts
Due: eslint --cache --fix, prettier --write

Chore: fix types
  apps/indexer-coordinator/src/core/network.service.ts
Due: eslint --cache --fix, prettier --write
