Repository subquery/network-indexer-services: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

refactor contract service
  apps/indexer-coordinator/src/agreement.controller.ts
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/payg/payg.service.ts
Due: eslint --cache --fix, prettier --write

fix imports
  apps/indexer-coordinator/src/network/network.service.ts
Due: eslint --cache --fix, prettier --write

Add gasLimit to getOverrides() in ContractService and update claimAllocationRewards() in RewardService
  apps/indexer-coordinator/src/core/contract.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

[SKIP CI] Prerelease
  apps/indexer-coordinator/package.json
Due: none

rename claimAllocationReward
  apps/indexer-coordinator/src/core/onchain.service.ts
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

implement auto collect allocation reward threshold
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

fix number overflow error
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

fix imports warning
  apps/indexer-coordinator/src/core/core.module.ts
Due: eslint --cache --fix, prettier --write

Add request mainfest from coordinator
  apps/indexer-proxy/doc/error-code-dictionary.md
  apps/indexer-proxy/proxy/src/graphql.rs
  apps/indexer-proxy/proxy/src/project.rs
Due: prettier --write

add migration tool shell script
  deploy/coordinator-migration-tool.sh
Due: none

Update coordinator and proxy versions
  deploy/coordinator-migration-tool.sh
Due: none

switch schema instead of database
  deploy/coordinator-migration-tool.sh
Due: none

db schema support
  apps/indexer-coordinator/src/data-source.ts
  apps/indexer-coordinator/src/main.ts
  apps/indexer-coordinator/src/migration/1687000788908-init.ts
  apps/indexer-coordinator/src/migration/1688676100216-addAgentPayg.ts
  apps/indexer-coordinator/src/migration/1690365333094-update-project-base-config-to-support-multiple-endpoint.ts
  apps/indexer-coordinator/src/migration/1692668452846-add-token-to-payg.ts
  apps/indexer-coordinator/src/migration/1698766826424-update-project-to-support-network-and-rpc.ts
  apps/indexer-coordinator/src/migration/1701342147690-add-project-statistics-entity.ts
  apps/indexer-coordinator/src/migration/1701361246451-add-project-rate-limit.ts
  apps/indexer-coordinator/src/migration/1701943045349-update-stats-data-time.ts
  apps/indexer-coordinator/src/yargs.ts
Due: eslint --cache --fix, prettier --write

fix graphql error caused by empty indexerId
  apps/indexer-coordinator/src/core/reward.service.ts
Due: eslint --cache --fix, prettier --write

Bump new proxy beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

feat: update dependencies
  apps/indexer-admin/package.json
  apps/indexer-admin/src/utils/web3.ts
  apps/indexer-admin/yarn.lock
Due: eslint --cache --fix, prettier --write

feat: enhance robust
  apps/indexer-admin/src/index.css
  apps/indexer-admin/src/pages/project-details/components/projectDetailHeader.tsx
  apps/indexer-admin/src/pages/project-details/components/projectDetailsView.tsx
  apps/indexer-admin/src/pages/projects/components/projectItem.tsx
Due: eslint --cache --fix, prettier --write

fix: remove test
  apps/indexer-admin/src/pages/project-details/components/projectDetailsView.tsx
Due: eslint --cache --fix, prettier --write

coordinator migration tool script
  deploy/coordinator-migration-tool.sh
Due: none

fix regex mapping leak
  deploy/coordinator-migration-tool.sh
Due: none

Update dependencies for indexer-coordinator
  apps/indexer-coordinator/package.json
  apps/indexer-coordinator/yarn.lock
Due: none

Update Mainnet metrics peer
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/utils/src/constants.rs
Due: none

Bump new beta version
  apps/indexer-proxy/proxy/Cargo.toml
Due: none

Hotfix
  apps/indexer-proxy/proxy/src/cli.rs
Due: none

Update mainnet metrics (#355)
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/proxy/src/cli.rs
  apps/indexer-proxy/utils/src/constants.rs
Due: none

Bump v2 for mainnet
  apps/indexer-proxy/proxy/Cargo.toml
  apps/indexer-proxy/utils/Cargo.toml
Due: none

Add error message for failed database schema backup
  deploy/coordinator-migration-tool.sh
Due: none

Update coordinator version v2.0.0
  apps/indexer-coordinator/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,md}
